In [1]:
import pandas as pd
student = "Resources/students_complete.csv"
school = "Resources/schools_complete.csv"
student_csv = pd.read_csv(student)
school_csv = pd.read_csv(school)
#student_csv.head()
#student_csv.count() 
#student_csv["school_name"].value_counts()

In [2]:
totalschool = school_csv["School ID"].count()
totalstu = student_csv["Student ID"].count()
#print(totalstu)
budget = school_csv["budget"].sum()
mathavg = student_csv["math_score"].mean()
readavg = student_csv["reading_score"].mean()
mathpass = student_csv.loc[student_csv["math_score"] > 69]
#print(mathpass)
mathpercent = (mathpass["math_score"].count() / totalstu) * 100
readpass = student_csv.loc[student_csv["reading_score"] > 69]
#print(readpass)
readpercent = (readpass["reading_score"].count() / totalstu) * 100
overall = (mathpercent + readpercent) / 2
columns = ["Total Schhol", "Total Student", "Total Budget", "Average Math Score", "Average Reading Score", 
          "% Passing Math", "% Passing Reading", "Overall Passing Rate"]

In [3]:
#District Summary
district_df = pd.DataFrame({
    "Total Schools": [totalschool],
    "Total Students": [totalstu],
    "Total Budget": [budget],
    "Average Math Score": ["{:,.2f}".format(mathavg)],
    "Average Reading Score": ["{:,.2f}".format(readavg)],
    "% Passing Math": ["{:,.2f}".format(mathpercent)],
    "% Passing Reading": ["{:.2f}".format(readpercent)],
    "Overall Passing Rate": ["{:.2f}".format(overall)]
})
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

In [4]:
school_student_df = pd.merge(student_csv, school_csv, how="left", on=["school_name", "school_name"])
school_student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
#Overall Summary
school_types = school_csv.set_index(["school_name"])["type"]
students_at_school = school_student_df["school_name"].value_counts()
school_budget = school_student_df.groupby(["school_name"]).mean()["budget"]
budget_per = school_budget / students_at_school

school_math = school_student_df.groupby(["school_name"]).mean()["math_score"]
school_reading = school_student_df.groupby(["school_name"]).mean()["reading_score"]
school_math_P = school_student_df[(school_student_df["math_score"] > 69)]
school_reading_P = school_student_df[(school_student_df["reading_score"] > 69)]

math_passing_per = school_math_P.groupby(["school_name"]).count()["student_name"] / students_at_school * 100
reading_passing_per = school_reading_P.groupby(["school_name"]).count()["student_name"] / students_at_school * 100
overall_passing = (math_passing_per + reading_passing_per) / 2

school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": students_at_school,
                                   "Total School Budget ($)": school_budget,
                                   "Budget Per Student ($)": budget_per,
                                   "Average Math Score": school_math,
                                   "Average Reading Score": school_reading,
                                   "% Passing Math": math_passing_per,
                                   "% Passing Reading": reading_passing_per,
                                   "% Overall Passing Rate": overall_passing
                                   })

school_summary

,School Type,Total Students,Total School Budget ($),Budget Per Student ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [21]:
#Top 5 school by overall passing rate
school_summary.sort_values(["% Overall Passing Rate"], ascending=False).head(5)

,School Type,Total Students,Total School Budget ($),Budget Per Student ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [22]:
#bottom 5 schools by overall passing rate
school_summary.sort_values(["% Overall Passing Rate"], ascending=True).head(5)

,School Type,Total Students,Total School Budget ($),Budget Per Student ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [27]:
#math grades by grade level

ninth_graders_grades = school_student_df[(school_student_df["grade"] == "9th")]
tenth_graders_grades = school_student_df[(school_student_df["grade"] == "10th")]
eleventh_graders_grades = school_student_df[(school_student_df["grade"] == "11th")]
twelfth_graders_grades = school_student_df[(school_student_df["grade"] == "12th")]
ninth_graders_math = ninth_graders_grades.groupby(["school_name"]).mean()["math_score"]
tenth_graders_math = tenth_graders_grades.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_math = eleventh_graders_grades.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_math = twelfth_graders_grades.groupby(["school_name"]).mean()["math_score"]


math_by_grades = pd.DataFrame({"9th": ninth_graders_math,
                                "10th": tenth_graders_math,
                                "11th": eleventh_graders_math,
                                "12th": twelfth_graders_math})


math_by_grades

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [28]:
#reading grades by grade level

ninth_graders_reading = ninth_graders_grades.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_reading = tenth_graders_grades.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_reading = eleventh_graders_grades.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_reading = twelfth_graders_grades.groupby(["school_name"]).mean()["reading_score"]


reading_by_grade = pd.DataFrame({"9th": ninth_graders_reading,
                                "10th": tenth_graders_reading,
                                "11th": eleventh_graders_reading,
                                "12th": twelfth_graders_reading})


reading_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [30]:
print(max(budget_per))
print(min(budget_per))

655.0
578.0

In [45]:
#school's performance based on budget

bins = [0, 600, 620, 640, 660]
group_names = ["<$600", "$600-620", "$620-640", "$640+"]
school_summary["Spending Per Student ($)"] = pd.cut(budget_per, bins, labels=group_names)

math_by_budget = school_summary.groupby(["Spending Per Student ($)"]).mean()["Average Math Score"]
read_by_budget = school_summary.groupby(["Spending Per Student ($)"]).mean()["Average Reading Score"]
math_p_by_budget = school_summary.groupby(["Spending Per Student ($)"]).mean()["% Passing Math"]
read_p_by_budget = school_summary.groupby(["Spending Per Student ($)"]).mean()["% Passing Reading"]
passing_by_budget = (math_p_by_budget + read_p_by_budget) / 2

school_by_budget = pd.DataFrame({"Average Math Score" : math_by_budget,
                                 "Average Reading Score": read_by_budget,
                                 "% Passing Math": math_p_by_budget,
                                 "% Passing Reading": read_p_by_budget,
                                 "% Overall Passing Rate": passing_by_budget})


school_by_budget

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Per Student ($),,,,,
<$600,83.436210,83.892196,93.541501,96.459627,95.000564
$600-620,83.839917,84.044699,94.594595,95.945946,95.270270
$620-640,79.474551,82.120471,77.139934,87.468080,82.304007
$640+,77.023555,80.957446,66.701010,80.675217,73.688113

In [40]:
print(max(students_at_school))
print(min(students_at_school))

4976
427

In [42]:
#school's performance based on school size

bins = [0, 1000, 2000, 5000]
group_names = ["Small School(<1000)", "Medium School (1000-2000)", "Large School (>2000)"]
school_summary["School Size"] = pd.cut(school_summary["Total Students"], bins, labels=group_names)

math_by_size = school_summary.groupby(["School Size"]).mean()["Average Math Score"]
read_by_size = school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
math_p_by_size = school_summary.groupby(["School Size"]).mean()["% Passing Math"]
read_p_by_size = school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
passing_by_size = (math_p_by_size + read_p_by_size) / 2

school_by_size = pd.DataFrame({"Average Math Score" : math_by_size,
                             "Average Reading Score": read_by_size,
                             "% Passing Math": math_p_by_size,
                             "% Passing Reading": read_p_by_size,
                             "% Overall Passing Rate": passing_by_size})

school_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small School(<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium School (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large School (>2000),77.746417,81.344493,69.963361,82.766634,76.364998

In [44]:

math_by_type = school_summary.groupby(["School Type"]).mean()["Average Math Score"]
read_by_type = school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
math_p_by_type = school_summary.groupby(["School Type"]).mean()["% Passing Math"]
read_p_by_type = school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
passing_by_type = (math_p_by_type + read_p_by_type) / 2
school_by_type = pd.DataFrame({"Average Math Score" : math_by_type,
                             "Average Reading Score": read_by_type,
                             "% Passing Math": math_p_by_type,
                             "% Passing Reading": read_p_by_type,
                             "% Overall Passing Rate": passing_by_type})

school_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757